In [3]:
from chalk.client import ChalkClient
from src.models import Vehicle, Review

In [4]:
client = ChalkClient(branch="main")

In [5]:
ds = client.offline_query(
    input={Vehicle.id: [1, 2, 3, 4]},
    output=[
        Vehicle,
    ],
    recompute_features=True,
)

In [6]:
ds.get_data_as_pandas()

╭──────────────────────────────────────────────────── chalk ■ ────────────────────────────────────────────────────╮
│                                                                                                                 │
│  The `DatasetRevision` is still being computed. `get_data_as_pandas()` will execute once computation is         │
│  complete.                                                                                                      │
│                                                                                                                 │
│  Dataset Recomputation completed   0:00:04                                                                      │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/1 runs [ vehicles ]                                      │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/1 runs [ reviews ]                                       │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 runs [ get_value ]                                     │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 runs [ get_num_5_star ]                                │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 runs [ get_num_days_listed ]                           │
│                                                                                                                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

,vehicle.model_name,vehicle.id,vehicle.value,vehicle.num_5_star_reviews,vehicle.price,vehicle.year,vehicle.listing_date,vehicle.make,vehicle.num_days_listed
0,Model Y,1,43.666667,4,133.0,2012,2023-09-09,Tesla,45
1,Mustang,2,36.714286,4,123.0,2011,2023-05-02,Ford,175
2,Odyssey,3,0.000000,2,94.0,2004,2023-01-05,Honda,292
3,Civic,4,-23.375000,6,66.0,2019,2023-07-25,Honda,91

In [7]:

ds = client.offline_query(
    input={Review.id: [1, 2, 3]},
    output=[
        Review,
        Review.vehicle,
    ],
    recompute_features=True,
)

In [8]:
ds.get_data_as_pandas()

╭──────────────────────────────────────────────────── chalk ■ ────────────────────────────────────────────────────╮
│                                                                                                                 │
│  The `DatasetRevision` is still being computed. `get_data_as_pandas()` will execute once computation is         │
│  complete.                                                                                                      │
│                                                                                                                 │
│  Dataset Recompute completed   0:00:00                                                                          │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/1 runs [ reviews ]                                       │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/1 runs [ vehicles ]                                      │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 runs [ get_num_5_star ]                                │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 runs [ get_num_days_listed ]                           │
│                                                                                                                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

,review.vehicle.num_5_star_reviews,review.rating,review.vehicle.model,review.vehicle.listing_date,review.vehicle.id,review.vehicle.year,review.vehicle.make,review.vehicle.num_days_listed,review.driver_id,review.id,review.vehicle_id
0,2.0,5.0,Mustang,2023-07-29,73.0,2001.0,Ford,53.0,0.0,1,73.0
1,0.0,2.0,F250,2023-03-02,35.0,2010.0,Ford,202.0,0.0,2,35.0
2,1.0,2.0,Corolla,2022-10-12,69.0,2014.0,Toyota,343.0,0.0,3,69.0
3,NaN,NaN,None,NaT,NaN,NaN,None,NaN,NaN,4,NaN